<!DOCTYPE html>
<html>
   <head>
   </head>
   <nav>
   </nav>
   <body>
      {% block mainblock %}

      <p>Fill out:</p>
      <form method="post">
        <input type="checkbox" class="samplechoice" name="samplechoice" value="CHOICE1" onchange="display()">
        <input type="checkbox" class="samplechoice" name="samplechoice" value="CHOICE2" onchange="display()">
        <input type="checkbox" class="samplechoice" name="samplechoice" value="CHOICE3" onchange="display()">
        <br>
        <input type="text" id="email" name ="email" required>

        <div id="CHOICE1" style="display:none;">SHOWING1 </div>
        <div id="CHOICE2" style="display:none;"> SHOWING12</div>
        <div id="CHOICE3" style="display:none;"> SHOWING13</div>

        <br><input type="submit"><br>
      </form>
      <script>
        function display()  //This is ineffiecent
        {
            var checkboxes = document.getElementsByClassName("samplechoice");
            console.log(checkboxes);
            for (var i = 0; i < checkboxes.length; i += 1)
            {
                var c = "CHOICE"+(i+1);
                console.log(c);
                var divv = document.getElementById(c);
                if (checkboxes[i].checked)
                {
                    divv.style.display="block";
                }   
                else {
                    
                    divv.style.display="none";
                }
            }
        }
      </script>
      {% endblock %}

   </body>
</html>