<div id="gutter{{gutterindex}}">
    <input type="hidden" name="GUTTER-DEMO{{gutterindex}}" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">Demo Needed?
    <br><br>
    <div class="gutterdimensions">Gutter Dimensions:<br>
        <input type="number" name="GUTTER-DIMENSIONS-GUTTER{{gutterindex}}" required> Linear ft
        <br>
        <br>Downspout Dimensions:<br>
        <input type="number" name="GUTTER-DIMENSIONS-DOWNSPOUT{{gutterindex}}" required> Linear ft
    </div>
    <br>
    <div class="gutterguards">Gutter Guards:<br>
        {% for type in database["gutter-guards-type"]["values"].keys() %}
        <input type="radio" id="gutter-guards-type{{type}}{{gutterindex}}" name="gutter-guards-type{{gutterindex}}" value="{{type}}" required> 
        <label for="gutter-guards-type{{type}}{{gutterindex}}">{{database["gutter-guards-type"]["values"][type]["text-display"]}}</label>
        <br>
        {% endfor %}
    </div>

    <div class="gutterbase">
        <input type="hidden" id="gutter-base-gutter{{gutterindex}}" name="gutter-base-gutter-type{{gutterindex}}" value="k-style-5">
    </div>

    <div class="gutterdownspoutstraps">
        <input type="hidden" id="gutter-downspout-straps{{gutterindex}}" name="gutter-downspout-straps{{gutterindex}}" value="basic">
    </div>
    <br>
    <div>Estimated Labor Days:<br>
        <input type="number" name="GUTTERS-LABOR-DAYS{{gutterindex}}" required>
        <input type="hidden" name="GUTTERS-EXPEDITED{{gutterindex}}" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">Expedited
    </div>
    <br>
    <button type="button" onclick="removeBlock('gutter{{gutterindex}}')">Delete</button>

</div>